# Importando os modulos a serem utilizados

In [3]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import calendar as cg
import matplotlib as mpl
import pathlib as pt
import os
import re

In [8]:
compilado = re.compile('\d\d\d\d')
caminhodst = pt.Path('dados/dst')

arquivos_dst = [dire for dire in caminhodst.glob('*.txt')]

# Tratando a base de dados *Dst* devido a existência de informações no formato de tabela descritiva ao final de cada mês.

In [12]:

for arquivo in arquivos_dst:

    ano = int(''.join(compilado.findall(str(arquivo))))
    n = 18 #tamanho da tabela descritiva

    q_dias_m = [cg.monthrange(year=ano, month=i)[1] for i in range(1, 13)] #quantidade de dias

    f = ''
    for i in q_dias_m:
        parada = n+i*24 #calculo do comprimento da janela dos dados
        with open(f'{arquivo}', 'r') as ds:
            mes = ds.readlines()[n:parada]
            for l in mes:
                f = f+l #adiciona os dados extraidos do mes em questão para a variavel f
            n = parada+18 #calculo do novo valor onde começará a proxima interação na variavel ds(dados)

    nome_coluna = 'Data'.ljust(13)+'Hora'.ljust(11)+'dia'.ljust(12)+'dst\n'

    with open(f'dados/dst/dst_limpo{ano}.txt','w') as tesla:
        tesla.write(nome_coluna)
        tesla.writelines(f)

# Leitura dos valores diarios do dst

In [19]:
df = pd.read_fwf('dados/dst/dst_limpo2001.txt')
dst = df.groupby('dia').mean() #agrupando os valores e fazendo a media
df

            Data          Hora  dia   dst
0     2001-01-01  00:00:00.000    1  -6.0
1     2001-01-01  01:00:00.000    1  -2.0
2     2001-01-01  02:00:00.000    1   2.0
3     2001-01-01  03:00:00.000    1   4.0
4     2001-01-01  04:00:00.000    1   1.0
...          ...           ...  ...   ...
8755  2001-12-31  19:00:00.000  365 -31.0
8756  2001-12-31  20:00:00.000  365 -32.0
8757  2001-12-31  21:00:00.000  365 -42.0
8758  2001-12-31  22:00:00.000  365 -43.0
8759  2001-12-31  23:00:00.000  365 -41.0

[8760 rows x 4 columns]